.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  padding: 0;
}

/* Home page css */

.overlay {
  background-image: url('../src/images/bg.jpg');
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Text color */
}

.line1{
  font-weight: bold;
  font-size: 40px;
  margin: 10px 0; /* Adjust spacing between lines if needed */
  align-content: center;
  position: relative;
  bottom:5ch;
}
.line2 {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0; /* Adjust spacing between lines if needed */
  margin-left:23%;
  position: relative;
  bottom:6ch;
}


/* Apply styles to the entire page */
body {
  font-family: 'Arial', sans-serif;
}


/* Navbar css */
.navbar {
  background-color: #282828;
  padding: 5px 0;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: #008000; /* Green color on hover */
 
}

.profile-name {
  font-weight: bold;
}
